.hero{
  min-height:100vh;
  display:grid;
  grid-template-columns:1fr 1fr;
  background:#0d0d0d;
}

.hero-left{
  display:flex;
  flex-direction:column;
  justify-content:center;

  padding:0 7%;

  background:#152566;
}

.hero-right{
  position:relative;
  overflow:hidden;
}

.hero-video{
  width:100%;
  height:100%;
  object-fit:cover;
}

.hero-logo{
  margin-left: 200px;
  width:150px;
  margin-bottom:40px;
}

.hero-tag{
  color:#c9a84c;
  letter-spacing:4px;
  text-transform:uppercase;
  font-size:12px;
  margin-bottom:15px;
}

.hero-title{
  font-family:"Cormorant Garamond", serif;
  font-size:clamp(3rem,6vw,5.5rem);
  line-height:1;
  color:white;
  font-weight:300;
  margin-bottom:25px;
}

.hero-title span{
  color:#c9a84c;
  font-style:italic;
}

.hero-sub{
  max-width:600px;
  color:rgba(255,255,255,.75);
  line-height:1.8;
  font-size:18px;
  margin-bottom:40px;
}

.hero-buttons{
  display:flex;
  gap:15px;
}

.btn-primary{
  background:#c9a84c;
  color:white;
  text-decoration:none;
  padding:15px 30px;
  border-radius:6px;
}

.btn-secondary{
  border:1px solid rgba(255,255,255,.2);
  color:white;
  text-decoration:none;
  padding:15px 30px;
  border-radius:6px;
}

@media(max-width:900px){

  .hero{
    grid-template-columns:1fr;
  }

  .hero-right{
    min-height:400px;
    order:-1;
  }

  .hero-left{
    padding:60px 30px;
    text-align:center;
    align-items:center;
  }

  .hero-buttons{
    justify-content:center;
  }
}